<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="csrfprotection Application Test Suite" annotations="1.5">
	<test name="Unit Tests">
		<packages>
			<package name="org.apache.tapestry5.csrfprotection.internal" />
		</packages>
	</test>
	<test name="Auto Page Tests">
		<packages>
			<package name="org.apache.tapestry5.csrfprotection.tests.auto" />
		</packages>
	</test>
	<test name="Off Page Tests">
		<packages>
			<package name="org.apache.tapestry5.csrfprotection.tests.off" />
		</packages>
	</test>
</suite>
